<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.web>
			<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"></sessionState>
			<httpCookies httpOnlyCookies="true" requireSSL="true"/> 
	</system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
		 <rewrite>
            <rules>
                <rule name="已导入的规则 1" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php?s=/{R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
        <handlers accessPolicy="Read, Execute, Script">
            <remove name="PHP_via_FastCGI" />
            <add name="PHP_via_FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\php53\php-cgi.exe" resourceType="Either" requireAccess="Script" />
        </handlers>
		<httpProtocol>
			<customHeaders>
			  <add name="X-Frame-Options" value="SAMEORIGIN" />
			</customHeaders>
		  </httpProtocol>
        <httpErrors errorMode="Detailed" />
	</system.webServer>
	
</configuration>
